body {
  background: rgb(190, 188, 188);
  padding: 0;
  margin: 0;
  overflow: hidden;
  color: silver;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 25px;
}
.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  gap: 0.0em;
  grid-template-areas:
    "header header"
    "aside main";
}
header>section {
  color: #aa7881;
  font-family: fantasy;
  text-align: center;
  font-size: 300%;
  line-height: 300%;
  background: radial-gradient(ellipse at center, #550144 0%, rgb(3, 22, 29) 100%);
  width: 100%;
}
.header {
  grid-area: header;
  height: 100%;
}
.empty {
  grid-area: empty;
  
}
.aside {
  border-color: #122842;
  height: auto;
  background-color: #0f2745;
  width: 20em;
  margin-left: -100%;
  grid-area: aside;
}
.main {
  grid-area: main;

}
.sidenav {
  list-style: none;
  padding: 0;
  margin: 0;

}
.sidenav>li {
  padding: 0;
  margin: auto;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
ul, li {
    list-style: none;
}
datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
  width: auto;
  text-align: end;
}
