body {
  background: #122842;
  height: px;
  padding: 200px;
  margin: auto;
  overflow: hidden;
  color: rgb(172, 14, 14);
  font-family: sans-serif;
  font-size: 14px;
  line-height: 25px;
}

.overlay {
  padding-top: -400px;
  color: red;
  margin: auto;
  font-size: large;
  border-radius: 20px;
  border-color: #122842;
  height: 100%;
  background-color: #122842;
  width: auto;

}

.stacked-linear {
  background: linear-gradient(217deg,
      rgb(255 0 0 / 80%),
      rgb(255 0 0 / 0%) 70.71%), linear-gradient(127deg, rgb(0 255 0 / 80%), rgb(0 255 0 / 0%) 70.71%),
    linear-gradient(336deg, rgb(0 0 255 / 80%), rgb(0 0 255 / 0%) 70.71%);
}

.htitle {
  color: #e5e5e5;
  font-size: 80%;
  text-transform: uppercase;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.header {
  grid-area: header;
}